version: '3.8'

services:

  # 3. YOUR SPRING BOOT APPLICATION SERVICE
  authentication_service:
    # Instruct Docker Compose to build the image using the current directory's Dockerfile
    build:
      context: .
      dockerfile: Dockerfile

    # Assign a name to the container
    container_name: central-authentication-service

    # This allows you to access the API at http://localhost:8083
    ports:
      - "8083:8083"
      - "9093:9093"
      # Set environment variables for the Spring application
    environment:
      # Database connection configuration for Spring Boot
      SPRING_DATASOURCE_URL: jdbc:postgresql://central-db:5432/central
      SPRING_DATASOURCE_USERNAME: user
      SPRING_DATASOURCE_PASSWORD: password123
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      SPRING_SQL_INIT_MODE: always
      AUTHENTICATION_SERVICE_GRPC_PORT: 9003
      wallet.service.host: central-wallet-service # <--- CHANGE THIS
      wallet.service.port: 9095          # <--- CHANGE THIS
      KAFKA_TOPIC_USER_EVENTS: user-events
      # Note: The database hostname is 'db' because that is the service name below

    networks:
      - shared_network_alias

# --- CUSTOM NETWORK DEFINITION ---
networks:
  shared_network_alias:
    # Use the name of the network created in the other file
    name: shared_central_network
    # CRITICAL: Tell Docker Compose this network is managed externally
    external: true